/*HTML Styles*/
body {
    height: 100vh;
    max-width: 100vh;
    margin: 0 auto !important;
    float: none !important;
    font-family: 'Bungee Shade', sans-serif;
    text-align: center;
    color: #282a29;
    background-image: url(assets/images/stadium.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

h1 {
    font-size: 3.5em;
}

p {
    font-family: 'Roboto', sans-serif;
}

/*Game Layout*/
#container {
    height: 650px;
    width: 500px;
    display: flex;
    justify-content: center;
    padding: 200px;
    padding-left: 250px;
    padding-top: 0px;
}
#game {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*Card Styles*/
.card,
.back,
.front {
    height: 150px;
    width: 150px;
}



.card {
    margin: 5px;
    position: relative;
    background-color: #00000000;
    transition: all 0.4s linear;
    transform-style: preserve-3d;
}

.cardimage {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out;
}

.frontside {
    transform: rotateY(-180deg);
}

.backside:hover {
    transform: scale(1.1);
    transition: transform 50ms ease-in-out;
}

/*card flip*/

.flipover {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.matchedcard {
    visibility: hidden;
}