/*--Game Layout__*/
#container {
    height: 650px;
    width: 500px;
    border: 1px solid black;
}

#game {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid blue;
}

/*--Card Styles--*/
.card,
.back,
.front {
    height: 150px;
    width: 150px;
}



.card {
    margin: 5px;
    position: relative;
    background-color: #00000000;
    transition: all 0.4s linear;
    transform-style: preserve-3d;
}

.cardimage {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out;
}

.frontside {
    transform: rotateY(-180deg);
}

.backside:hover {
    transform: scale(1.1);
    transition: transform 50ms ease-in-out;
    backface-visibility: hidden;
}

/*--card flip --*/

.flipover {
    transform: rotateY(180deg);
}

.flipback {
    transform: rotateY(-180deg);
}

.matchedcard {
    visibility: hidden;
}